body
{
    font-family: 'Lato', sans-serif;
    padding: 0px 0px;
    margin: 0px;
}
nav
{
    margin: 0px;
    height: 5vh;
    padding: 5px;
    /*z-index: 9999px;*/
}
.navbar .container-fluid
{
    margin: 0px;
    height: 5vh;
    /*z-index: 9999px;*/
    
}

#main-container
{
    margin: 0px;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #f9f9f9;*/
}

.navbar
{
    background-color: #ffffff;
    color: #4f4f4f; 
}
#header>.nav
{
    padding: 5px;
}
.nav > .btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}

.nav > .btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}

.menu
{
    color: #4f4f4f;
    background-color: white;
    padding: 5px;
}
.menu:hover
{
    color: #4f4f4f;
    background-color: transparent!important;
}
.menu:visited
{
    color: #4f4f4f;
    background-color: transparent;
}
#circle-list{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #e6e6e6;
	display: inline-block;
    margin-top:5px;
}
#circle-list:hover{	
	background-color: #e6e6e6 !important;
}
#circle-list:visited{	
	background-color: #e6e6e6;
}
.col-xs-2
{
    height: 89vh;
    padding: 0px;
}
#sidebar
{
    margin: 0px;
    background-color: #070525;
    height: 89vh;
    padding: 0px;
}
.nav-pills
{
    background-color: #070525;
    color: white;
    line-height: 30px;
}
.btn-sidebar {
    margin: 0px;
  padding:10px 0px 10px 0px;
  background:#070525;
  width:100%;
  text-decoration:none;
  color:#fff;
  position:relative;
    display: block;
    border: 1px solid #252046;
    text-align: center;
}
.btn-sidebar:hover {
  background:#070525;
  text-decoration:none;
  color:#fff;
}
.btn-sidebar:visited
{
    background:#070525;
  text-decoration:none;
  color:#fff;    
}
 .current {
  background:#cfcfcf;
     text-decoration:none;
  color:#000;
}
 .current::before {
  position:absolute;
  content:'';
  left:0;
  top:0;
  height:100%;
  width:10px;
  background:#d9000e;
}
.current:hover
{
    text-decoration:none;
    background:#cfcfcf;
  color:#000;   
}
.current:visited
{
    text-decoration:none;
    background:#cfcfcf;
  color:#000;   
}

#nav-add
{
    position: absolute;
    bottom: 0;
    display: inline-block; 
    width: 100%;
}
.btn-add {
    margin: 0px;
  padding:10px;
  background:#070525;
  width:100%;
  text-decoration:none;
  color:#fff;
    display: block;
    text-align: center;
    line-height: 30px;
}
.btn-add:hover
{
    text-decoration:none;
  color:#fff;
}
.btn-add:visited
{
    text-decoration:none;
  color:#fff;
}
#add-btn-circle > .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  
  border-radius: 15px;!important
}



.col-xs-10
{
    padding 4px;
    height: 89vh;
    background-color: white;
}
label
{
    border: 1px solid #b5b5b5;
    display: block;
    width: 350px;
    background: #f4f4f4;
    color: #4f4f4f;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 30px;
    padding-left: 7px;
}
.options:checked+label
{
    border-color: #0a9939;
    background-color: #0a9939;
    color: white;
    z-index: 8px;
}
.options
{
    visibility: hidden;
    width: 350px;
    height: 30px;
    margin-bottom:0px;
    margin-top: 0px;
    z-index: 9px;
}

.navigate-btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}
.navigate-btn:hover
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    
}

.row-top
{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 83.33%;
    background-color: white;
    overflow-y: scroll;
}

.row-top > span
{
    display: block;
}
#central-question
{
    background-color: white !important;
}
.question-set
{
    display:block;
    height: 100%;
}

.form-make-question
{
    width: 100%;
}
/*=== Use textarea for the question because it can go for more than 1 line ====*/

.qn-text
{
    display: block;
    width: 100%;
    max-width: 600px;
    color: #c2c2c2;
    outline: 0;
    border: 0;
    border-bottom: 3px solid #cfcfcf;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    padding: 10px 15px;
}

.make-question .ques-options {
	margin-top:40px;
    text-align: center;
}
.qn-options
{
	display: block;
    margin: 40px auto -40px auto;
    width: 320px;
    padding: 10px 20px 10px 20px;
    font-size: 1.15em;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-bottom: 2px solid #cfcfcf;
    z-index: 1;
}
.qn-options:focus {
	background:#fff;
}
.choose-answer
{
    visibility: hidden;    
    height: 30px;
    width: 150px;
    margin: -40px 10px 40px auto;
    z-index: 100;
    
}
.answer
{
    
    height: 30px;
    margin: -40px 10px 40px auto;
    z-index: 90;
    border-color: #0a9939;
    background-color: #0a9939;
    width: 150px;
    color: white;
}
.wrapper
{
    width: 320px;
    text-align: center;
    margin: 0px auto 0px auto;
}

.row-bottom
{
    padding-left: 5px;
    height: 16.66%;
    background-color: white;
    padding-bottom: 5px;
    padding-right: 5px;
}
.finalize-btn
{
    width: 250px;
    background-color: #9c26c3;
    color: white !important;
}

.col-xs-12
{
    height: 100%;
    background-color: white;
}
.btn
{
    border-radius: 0px;
}
