body
{
    background-color: #333333;
}
.main-container
{
    width: 100%;
    height: 100%;
}

form
{
    width: 50%;
    background-image: url("../images/back.png");
    background-size: cover;
    /*background-color: #5b8efb;*/
    height: 90%; 
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.48);
-moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.48);
box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.48);
    z-index: 980;
}
table
{
    height: 100%;
}
img
{
    display:block;
}
p
{
    margin-top: 10px;
    color: white;
    font-family: Arial;
}
input
{
    display: block;
    width: 340px;
    border-radius: 2px;
    
}
input[type=text],input[type=password]
{
    margin-bottom: 5px;
    border: 1px solid #dfdfdf;
    padding: 8px;
}
input[type=submit]
{
    margin-top: 10px;
    background-color: #5b8efb;
    border-color: #5b8efb;
    outline:0px;
    height: 30px;
    font-family: Arial;
    color: #ffffff;
    border: none;
    padding: 8px;
}
fieldset
{
    width: 410px;
    height: 50%;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
a
{
    font-family: Arial;
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top:10px;
}
a:hover
{
    color: white;
    text-decoration: none;
}
a:visited
{
    color: white;
    text-decoration: none;
}
#left
{
    margin-right: 70px;
}
.white-border
{
    height: 2px;
    background-color: white;
    width: 410px;
    margin-top: -16px;
    z-index: 1;
    overflow:hidden;
}