body
{
    font-family: 'Lato', sans-serif;
    padding: 0px 0px;
    margin: 0px;
}

#internstreet
{
    display: block;
    margin-top: 9%;
}

/*login.html css*/
.lines-login {
   width: 350px;
   text-align: center; 
   border-bottom: 1px solid #c1c1c1; 
   line-height: 0.1em;
   margin: 20px auto 20px auto; 
   color: #4f4f4f;    
} 


.lines-login span { 
    background:#fff; 
    padding:0 10px; 
}

.login-button
{
    display: block;
    background: #3b5998 ;
    border-color: #3b5998;
    height: 50px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0px;
    margin: 10px auto;
}
.login-button:hover
{
    color: white;;
}
.login-button:focus
{
    outline: 0;
    color: white;
}

/*#facebook
{
    margin-bottom: 0px;
    margin-top: -6px;
    height: 50px;
}*/

.fa
{
    margin-right: 50px;
    margin-left: 20px;
}
#btn-facebook
{
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.login-text
{
    display: block;
    width: 350px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid;
    border-color: #c1c1c1;
    color: #c1c1c1;
}
.login-text:focus
{
    outline: 0;
}

#login-upper
{
    border-bottom-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 10px;
}
#login-lower
{
    border-top-width: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 10px;
}

#main-wrapper a
{
    color:#6b71e7;
}
#main-wrapper a:hover
{
    color:#6b71e7;
    text-decoration: none;
}
#main-wrapper a:visited
{
    color:#6b71e7;
    text-decoration: none;
}

/* end of login.html css*/

/*start of quizapp.html, createquiz.html css */
nav
{
    margin: 0px;
    height: 5vh;
    padding: 5px;
    /*z-index: 9999px;*/
}
.navbar .container-fluid
{
    margin: 0px;
    height: 5vh;
    /*z-index: 9999px;*/
    
}

#main-container
{
    margin: 0px;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #f9f9f9;*/
}

.navbar
{
    background-color: #ffffff;
    color: #4f4f4f; 
}
#header>.nav
{
    padding: 5px;
}
.nav > .btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}

.nav > .btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}

.menu
{
    color: #4f4f4f;
    background-color: white;
    padding: 5px;
}
.menu:hover
{
    color: #4f4f4f;
    background-color: transparent!important;
}
.menu:visited
{
    color: #4f4f4f;
    background-color: transparent;
}
#circle-list{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #e6e6e6;
	display: inline-block;
    margin-top:5px;
}
#circle-list:hover{	
	background-color: #e6e6e6 !important;
}
#circle-list:visited{	
	background-color: #e6e6e6;
}
.col-xs-2
{
    height: 89vh;
    padding: 0px;
}
#sidebar
{
    margin: 0px;
    background-color: #070525;
    height: 89vh;
    padding: 0px;
}
.nav-pills
{
    background-color: #070525;
    color: white;
    line-height: 30px;
}
.btn-sidebar {
    margin: 0px;
  padding:10px 0px 10px 0px;
  background:#070525;
  width:100%;
  text-decoration:none;
  color:#fff;
  position:relative;
    display: block;
    border: 1px solid #252046;
    text-align: center;
}
.btn-sidebar:hover {
  background:#070525;
  text-decoration:none;
  color:#fff;
}
.btn-sidebar:visited
{
    background:#070525;
  text-decoration:none;
  color:#fff;    
}
/*side bar with active questions*/
 .current {
  background:#cfcfcf;
     text-decoration:none;
  color:#000;
}
 .current::before {
  position:absolute;
  content:'';
  left:0;
  top:0;
  height:100%;
  width:10px;
  background:#d9000e;
}
.current:hover
{
    text-decoration:none;
    background:#cfcfcf;
  color:#000;   
}
.current:visited
{
    text-decoration:none;
    background:#cfcfcf;
  color:#000;   
}
/*end of side bar*/

/*add button in create quize*/
#nav-add
{
    position: absolute;
    bottom: 0;
    display: inline-block; 
    width: 100%;
}
.btn-add {
    margin: 0px;
  padding:10px;
  background:#070525;
  width:100%;
  text-decoration:none;
  color:#fff;
    display: block;
    text-align: center;
    line-height: 30px;
}
.btn-add:hover
{
    text-decoration:none;
  color:#fff;
}
.btn-add:visited
{
    text-decoration:none;
  color:#fff;
}
#add-btn-circle > .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  
  border-radius: 15px;!important
}
/*end of stylng add button*/


.col-xs-10
{
    padding 4px;
    height: 89vh;
    background-color: white;
}
label
{
    border: 1px solid #b5b5b5;
    display: block;
    width: 350px;
    background: #f4f4f4;
    color: #4f4f4f;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 30px;
    padding-left: 7px;
}
.options:checked+label
{
    border-color: #0a9939;
    background-color: #0a9939;
    color: white;
    z-index: 8px;
}
.options
{
    visibility: hidden;
    width: 350px;
    height: 30px;
    margin-bottom:0px;
    margin-top: 0px;
    z-index: 9px;
}

.row-top
{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 83.33%;
    background-color: white;
    overflow-y: scroll;
}

.row-top > span
{
    display: block;
}

/* form to add questions*/
#central-question
{
    background-color: white !important;
}
.question-set
{
    display:block;
    height: 100%;
}

/* ==========dotted bar in namequiz.html========== */


.dot-line {
    display: block;
    width: 25%;
    position: relative;
    top: calc(50% - 5px);
    bottom: -5px;    
}

.dot-line:before, .dot-line:after {
	content: " ";
	width: 12px;
	height: 12px;
	position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
	}
.dot-line:before {
	left: 0;
	bottom: -5px;
    border: 1px solid #6b6b6b;
    background-color: #6b6b6b;
}
.dot-line:after {	
	right: 0;
    bottom: -5px;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
}

#btn-dotted
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 5px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    padding: 5px;
    margin-top: -22px;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    cursor: auto;
}


/* ======end of dotted bar=========*/
/* =======dotted bar labelling ============= */

#btn-dotted-label
{
    width: 25px;
	height: 10px;
	position: absolute;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    margin-top: -26px;
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #e6e6e6;
    opacity: 1;
    cursor: auto;
    margin-left: -50px;
}
#label-line
{
    width: calc(25%+70px);
    border-color: transparent;
}
#label-line:before, #label-line:after {
	
	width: 60px;
	height: 10px;
	position: absolute;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    
	}
#label-line:before {
    content: "Quiz info";
	left: 0;
    color: #6b6b6b;
	bottom: -5px;
    margin-left: -25px;
    border: 1px solid #FFF;
    background-color: #FFF;
}
#label-line:after {
    content: "Finalize";
    color: #e6e6e6;
	bottom: -5px;
	right: 0;
    margin-right: -25px;
    border: 1px solid #FFF;
    background-color: #FFF;
}

/* =======end of dotted bar labelling ============= */
.form-make-question
{
    width: 100%;
}

/* in name question form */

.textbox-para
{
    color: #6b6b6b;
    font-weight: bold;
    margin-top: 100px;
    background-color: white;
    border: 0px;
    display: block;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

/* end of form in name question */


/*=== Use textarea for the question because it can go for more than 1 line ====*/

.qn-text
{
    display: block;
    width: 100%;
    max-width: 600px;
    color: #c2c2c2;
    outline: 0;
    border: 0;
    border-bottom: 3px solid #cfcfcf;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
    padding: 10px 15px;
}

.make-question .ques-options {
	margin-top:40px;
    text-align: center;
}
.qn-options
{
    float: left;
    margin: 40px auto -40px auto;
    width: 320px;
    height: 40px;
    padding: 0px 20px;;
    font-size: 1.15em;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-bottom: 2px solid #cfcfcf;
    z-index: 500;
}
.qn-options:focus {
	background:#fff;
}
.choose-answer /*the green buttons and labels*/
{
    visibility: hidden;    
    height: 30px;
    width: 1px;
    float: right;
    margin-right: 1px;
    z-index: 100;
    display: inline;
    
}
.answer
{
    float: right;
    display: inline;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 50;
    border-color: #0a9939;
    background-color: #0a9939;
    width: 150px;
    color: white;
}
.choose-answer:checked+.answer
{
    background-color: #cfcfcf;
    border-color: #cfcfcf;
}
.wrapper
{
    width: 320px;
    text-align: center;
    margin: 0px auto 0px auto;
    z-index: 1;
} /*end of central part in create*/

/*==================namequiz css=================*/


.row-bottom
{
    padding-left: 5px;
    height: 16.66%;
    background-color: white;
    padding-bottom: 5px;
    padding-right: 5px;
}


.navigate-btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}
.navigate-btn:hover
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    
}
.finalize-btn /*finalize btn*/
{
    width: 250px;
    background-color: #9c26c3;
    color: white !important;
}

#name-next /*next button in namequiz*/
{
    margin-top: 75px;
}

.col-xs-12
{
    height: 100%;
    background-color: white;
}
.btn
{
    border-radius: 0px;
}
