body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.lineslogin {
   width: 350px;
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   color: #c1c1c1;
    border-bottom-color: #c1c1c1;
} 


.lineslogin span { 
    background:#fff; 
    padding:0 10px; 
}

.loginbutton
{
    background: #3b5998;
    border-color: #3b5998;
    height: 50px;
    color: white;
    font-weight: 300;
    border: 0px;
}

.logintext
{
    width: 350px;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid;
    border-color: #c1c1c1;
    color: #c1c1c1;
    
}

#loginnoub
{
    border-top-width: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#loginnolb
{
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}