body
{
    font-family: 'Lato', sans-serif;
    padding: 0px 0px;
    margin: 0px;
}
nav
{
    margin: 0px;
    height: 5vh;
    padding: 5px;
    /*z-index: 9999px;*/
}
.navbar .container-fluid
{
    margin: 0px;
    height: 5vh;
    /*z-index: 9999px;*/
    
}

#main-container
{
    margin: 0px;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #f9f9f9;*/
}

.navbar
{
    background-color: #ffffff;
    color: #4f4f4f; 
}
#header>.nav
{
    padding: 5px;
}
.nav > .btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}

.nav > .btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}

.menu
{
    color: #4f4f4f;
    background-color: white;
    padding: 5px;
}
.menu:hover
{
    color: #4f4f4f;
    background-color: transparent!important;
}
.menu:visited
{
    color: #4f4f4f;
    background-color: transparent;
}
#circle-list{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #e6e6e6;
	display: inline-block;
    margin-top:5px;
}
#circle-list:hover{	
	background-color: #e6e6e6 !important;
}
#circle-list:visited{	
	background-color: #e6e6e6;
}
.col-xs-2
{
    height: 89vh;
    padding: 0px;
}
#sidebar
{
    margin: 0px;
    background-color: #070525;
    height: 89vh;
    padding: 0px;
}
.nav-pills
{
    background-color: #070525;
    color: white;
    line-height: 30px;
}
.btn-sidebar {
    margin: 0px;
  padding:10px 0px 10px 0px;
  background:#070525;
  width:100%;
  text-decoration:none;
  color:#fff;
  position:relative;
    display: block;
    border: 1px solid #252046;
    text-align: center;
}
.btn-sidebar:hover {
  background:#070525;
  text-decoration:none;
  color:#fff;
}
.btn-sidebar:visited
{
    background:#070525;
  text-decoration:none;
  color:#fff;    
}
 .current {
  background:#cfcfcf;
     text-decoration:none;
  color:#000;
}
 .current::before {
  position:absolute;
  content:'';
  left:0;
  top:0;
  height:100%;
  width:10px;
  background:#d9000e;
}
.current:hover
{
    text-decoration:none;
    background:#cfcfcf;
  color:#000;   
}
.current:visited
{
    text-decoration:none;
    background:#cfcfcf;
  color:#000;   
}

.col-xs-10
{
    padding 4px;
    height: 89vh;
    background-color: white;
}
label
{
    border: 1px solid #b5b5b5;
    display: block;
    width: 350px;
    background: #f4f4f4;
    color: #4f4f4f;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 30px;
    padding-left: 7px;
}
input[type=radio]:checked+label
{
    border-color: #0a9939;
    background-color: #0a9939;
    color: white;
    z-index: 8px;
}
.options
{
    visibility: hidden;
    width: 350px;
    height: 30px;
    margin-bottom:0px;
    margin-top: 0px;
    z-index: 9px;
}

.navigate-btn
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    width: 200px;
    border: 1px solid #b5b5b5;
}
.navigate-btn:hover
{
    background-color: #f4f4f4;
    color: #4f4f4f;
    
}

.row-top
{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 83.33%;
    background-color: white;
    overflow-y: scroll;
}

.row-top > span
{
    display: block;
}
#central-question
{
    background-color: white !important;
}
.question-set
{
    display:block;
    height: 100%;
}
.row-bottom
{
    padding-left: 5px;
    height: 16.66%;
    background-color: white;
    padding-bottom: 5px;
    padding-right: 5px;
}
.col-xs-12
{
    height: 100%;
    background-color: white;
}
.btn
{
    border-radius: 0px;
}
